{% extends "settings/settings_base.html" %}

{% block settings_tabs %}
<div id="settings-tabs">
	<ul class="tabs">
		<li><a href="/settings/">Account</a></li>
		<li class="active"><a href="/settings/password/">Password</a></li>
		<li><a href="/settings/profile/">Profile</a></li>
		<li><a href="/settings/network/">Network</a></li>
		<li><a href="/settings/notifications/">Notifications</a></li>
	</ul>
</div>
{% endblock %}

{% block settings_main %}
<div id="main">
	<form action="{% url idlebook.account.views.settings_tab 'password' %}" method="post">
		{% csrf_token %}
		{% if form.non_field_errors %}
			{% for error in form.non_field_errors %}
			<p class="account-error">{{error}}</p>
			{% endfor %}
		{% endif %}		
		<div class="account-row">
			<div class="label"><label for="password">{{form.old_password.label_tag}}</label></div>
			<div class="input">{{form.old_password}}
					{% if form.old_password.errors %}
					<p class="account-error">{{ form.old_password.errors }}</p>
					{% endif %}
<!--				<p class="account-desc"><a href="#">Forget your password?</a></p> -->
			</div>
		</div>
		<div class="account-row">
			<div class="label"><label for="new-password">{{form.new_password1.label_tag}}</label></div>
			<div class="input">{{form.new_password1}}
				{% if form.new_password1.errors %}
				<p class="account-error">{{ form.new_password1.errors }}</p>
				{% endif %}
				<p class="account-desc">6 characters minimum</p>
			</div>
		</div>
		<div class="account-row">
			<div class="label"><label for="new-password-confirm">{{form.new_password2.label_tag}}</label></div>
			<div class="input">{{form.new_password2}}
				{% if form.new_password2.errors %}
				<p class="account-error">{{ form.new_password2.errors }}</p>
				{% endif %}
				<p class="account-desc">Please repeat your password</p>
			</div>
		</div>
		<div class="account-row last">
			<div class="input">
				<input type="hidden" name="next" value="{{next}}" />
				<input type="submit" name="submit" class="active" value="Save" />
			</div>
		</div>
	</form>
</div>
<div id="aside">
</div>
{% endblock %}