{% extends "profile/profile_base.html" %}

{% load name_format %}

{% block scripts %}
<script src="{{STATIC_URL}}scripts/profile.listings.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}scripts/edit.copy.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}scripts/lookup.js" type="text/javascript"></script>
{% endblock %}

{% block modals %}
{% include "edit_copy_modal.html" %}
{% endblock %}

{% block profile_main %}
<div id="main">
	<div class="main-block">
        <h2>List of all books {{person|name:user}} owns</h2>
		{% if is_myself %}
        <p class="tip">Use this box to find and add books you own. To make them available to others, you must set prices to rent and/or sell.</p> <!--Search for books you own and add them to your rental listings. -->
		<div id="search-bar">
			<input type="text" name="q" class="ac-input" id="search-box" value="Add a book to your listings (enter book title or course name)" />
		</div>
		{% endif %}
		<ul class="book-detail-list">
			{% for item in listings %}
			    {% include 'profile/book_block.html' %}
    		{% empty %}
			<p>{{person|name:user}} doesn't have any listings at the moment.</p>		
			{% endfor %}
		</ul>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}
