<div id="footer-wrap">
	<div id="footer">
		<p class="copyright">&copy; 2011 IDLEBOOK. All Rights Reserved.</p>
		<!-- {{timestamp}} -->
		<ul id="footer-nav">
			<li><a href="/about/">About</a></li>
			<li><a href="/howitworks/" class="how">How it works</a></li>
			<li><a href="/faq/">FAQ</a></li>
			<li><a href="/help/">Help</a></li>
			<li><a href="/terms/">Terms</a></li>
			<li><a href="http://blog.idlebook.com">Blog</a></li>
			<li><a class="event" href="http://www.coursemix.com" target="_blank">CourseMix</a></li>
		</ul>
		<p class="total-stats">We currently have <a href="/library/">{{total_book_count}}</a> books in our library</p>
	</div>
</div>