{% extends "base.html" %}
{% load cache %}

{% block title %}Idlebook - Get textbooks from your classmates{% endblock %}

{% block css %}
<link href="{{STATIC_URL}}css/home.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/howitworks.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
<script src="{{STATIC_URL}}scripts/index.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}scripts/lookup.js" type="text/javascript"></script>
{% endblock %}

{% block modals %}
{% include 'signup_modal.html' %}
{% endblock %}

{% block header %}
<div id="header-wrap">
	<div id="header">
		<div id="site-logo">
			<a href="/"><img src="{{STATIC_URL}}images/index-logo.png" /></a>
		</div>
		<ul id="site-nav">
			<li><a href="#" class="how" id="how-nav">How it works</a></li>
			<li><a href="/library/">Library</a></li>
		</ul>
	</div>
</div>
{% endblock %}

{% block content %}
{% cache 3000 howitworks %}
<div id="howitworks">
    <p id="how-tabs"><a class="how-tab active" href="#">As Owner</a><a class="how-tab" href="#">As Buyer/Renter</a></p>
	<a id="hide" class="how" href="#">× hide</a>
	<div id="graphs">
    	<div>
        	<div id="step1" class="step">
        	    <img src="{{STATIC_URL}}images/how/lend_1_web.png" />
        	    <p>1. Tell us which books you have.</p>
        	</div>
        	<div id="step2" class="step">
        	    <img src="{{STATIC_URL}}images/how/lend_2_web.png" />
        	    <p>2. We'll find you renters or buyers and notify you of their interest via email.</p>
        	</div>
        	<div id="step3" class="step">
        	    <img src="{{STATIC_URL}}images/how/lend_3_web.png" />
        	    <p>3. Drop your book off at our dropbox on the Ave.</p>
        	</div>
        	<div id="step4" class="step">
        	    <img src="{{STATIC_URL}}images/how/lend_4_web.png" />
        	    <p>4. Get paid as soon as your renter / buyer picks the book up.</p>
        	</div>
        </div>
        <div class="hidden">
    	    <div id="step5" class="step">
    	        <img src="{{STATIC_URL}}images/how/rent_1_web.png" />
    	        <p>1. Find books you want to buy or rent.</p>
    	    </div>
    	    <div id="step6" class="step">
    	        <img src="{{STATIC_URL}}images/how/rent_2_web.png" />
    	        <p>2. Send a request to the owner of the book.</p>
    	    </div>
    	    <div id="step7" class="step">
    	        <img src="{{STATIC_URL}}images/how/rent_3_web.png" />
    	        <p>3. After the owner agrees, they will leave the book at our dropbox where you can pick it up and pay.</p>
    	    </div>
    	    <div id="step8" class="step">
    	        <img src="{{STATIC_URL}}images/how/rent_4_web.png" />
    	        <p>4. If you're renting, return it to our dropbox when it's due.</p>
    	    </div>
        </div>
    </div>
</div>
{% endcache %}
<div id="content" class="dark">
	<div id="container">
		<div id="main">
			<div id="intro">
				<p>Idlebook helps you find textbooks for your classes, and connects you with people looking for books too. Find out <a href="#" class="how">how it works</a> now!</p>
			</div>
			<div id="search-focus-zone">
				<div id="search-bar">
					<input type="text" name="q" class="ac-input" id="search-box" value="Enter book title or course name (i.e. math124)" />
				</div>
			</div>
			<ul id="book-list"></ul>
            <div id="book-info-notice"><p>Your book info has been saved temporarily. Keep adding or you can make your books available to others by signing up.</p><img src="{{STATIC_URL}}images/facebook-signup.png" title="Sign up with Facebook" class="facebook-signup-button" /></div>
			<div class="clear"></div>
		</div>
		<div id="aside">
			<div class="side-block" id="login">
				<h2>Get Started</h2>
				<p>You need a <strong class="facebook">Facebook</strong> account and <strong>@uw.edu</strong> email to use this service. (<a href="#" title="This service is exclusive to UW Huskies. Facebook offers an easy way to make the most use of book sharing." rel="tipsy">?</a>)</p>
			    <img src="{{STATIC_URL}}images/facebook-signup.png" title="Sign up with Facebook" class="facebook-signup-button" />
				<p class="tip">Click the button above to sign up</p>
			    <img src="{{STATIC_URL}}images/facebook-login.png" title="Login with Facebook" class="facebook-login-button" />
			    <p class="tip">Login for existing users</p>
                
			</div>
			
		</div>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}
